table.e__call(style=`${settings.tableStyle} background-color: ${settings.emailCall.backgroundColor};`  width='600' cellspacing='0' cellpadding='0' border='0')
	tbody
		tr
			td(style="background-color:#fff; padding: 15px;")
				+emailCall(settings.emailCall)
