table.e__content(style='margin:0 auto; padding:0; border-spacing:0; border-collapse:collapse;' width='600' cellspacing='0' cellpadding='0' border='0' bgcolor='#ffffff')
	tbody
		tr
			td.e__content__td(style='padding:0 15px; border-collapse:collapse; background-color:#ffffff;' width='600')
				!=contents
