table.e__hero(style='margin:0 auto; padding:0; border-spacing:0; border-collapse:collapse;' width='600' cellspacing='0' cellpadding='0' border='0' bgcolor='#ffffff')
	tbody
		tr
			td.e__hero__td(style='padding:0; border-collapse:collapse; background-color:#ffffff;' width='600')
				a#hero-image(href=i18n.heroImageLink name="hero-image" style="color:#ffffff; font-family:Times new roman, arial; font-size:32px; text-decoration:none;" title=i18n.heroAlt) 
					img(alt=i18n.heroAlt class="width100" src=assets(i18n.heroImage) style="vertical-align:middle; border:none; display:inline;" width="600")
