title= ((title) ? title + ' | ' : '') + settings.siteName
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='HandheldFriendly' content='true')
meta(content="en-us", http-equiv="Content-Language")
meta(name="format-detection", content="telephone=no")
meta(name="description",  content="                                           	                                                          	                                                  	                                	                                        	                                	                                                  	                                                    	                                                            	                                            	                                                             	                                                                                                                          	                                                                                                       	                                                                     	                                                                                                                                                                                                                                                                      ")
